
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@600&family=Monoton&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}


#particles-js {
  height: 100vh;
  background-color: #ffffff;
 background-size: cover;
}


.logo {
  width: 60px;
  height: 60px;
}

.konten1 {
  margin-top: -100vh;
}

.gambar1 {
  margin-top: 50px;
  width: 200px;
  height: 200px;
  margin-left: -800px;
}

.teks1 {
  font-size: 45px;
  font-family: 'Monoton', cursive;
  margin-top: -130px;
  letter-spacing: 2px;
  margin-left: -380px;
}

.teks2 {
  margin-left: 60px;
  font-size: 25px;
  margin-top: 40px;
  color: rgb(80, 80, 80);
}

.teks3 {
  margin-left: 60px;
  font-size: 16px;
  word-spacing: 2px;
}

.btn1 {
  width: 250px;
  margin-top: 50px;
  height: 50px;
  margin-left: -470px;
}

.btn2 {
  width: 250px;
  margin-left: 20px;
  margin-top: 50px;
  height: 50px;
}



.konten2 {
  height: 100vh;
}

.gambar2 {
  max-width: 25%;
  height: auto;
  margin-top: 30px;
  margin-right: 20px;
  float: right;
  clear: both;
}

.teks4 {
  margin-top: 45px;
  text-align: center;
  position: absolute;
  text-transform: capitalize;
  font-size: 40px;
  font-weight: bold;

}


.teks5 {
  text-transform: capitalize;
  margin-top: 100px;
  position: absolute;
  width: 650px;
  color: rgb(39, 39, 39);
  text-align: left;
}

.teks6 {
  position: absolute;
  font-size: 18px;
  margin-top: 180px;
}

.progress1 {
  /* position: absolute; */
  width: 550px;
  margin-top: 205px;
}


.teks7 {
  position: absolute;
  font-size: 18px;
  margin-top: 10px;
}

.progress2 {
  width:550px ;
  margin-top: 35px;

}

.teks8 {
  margin-top: 10px;
  position: absolute;
  font-size: 18px;

}


.progress3 {
  width:550px ;
  margin-top: 35px;

}


.teks9 {
  margin-top: 10px;
  position: absolute;
  font-size: 18px;

}


.progress4 {
  width:550px ;
  margin-top: 35px;

}



.card1 {
  margin-top: 40px;
text-align: left;

max-width: 60%;
width: auto;


}


.btn3 {
  width: 100%;
  
}


.konten3 {
  height: 100vh;
}

.btn-toko {
  width: 100%;
  margin: 5px 0px;
}

.btn4 {
  width: 100%;
  margin-top: 10px;
}

.card2 {
  margin-top: 40px;
}



.btn5 {
  width: 30%;
margin-top: 30px;
}












/* UNTUK TABLET */
@media (max-width:1024px) {  

  .konten1 {
    height: 100vh;
  }


 .gambar1 {
   margin-left: 0px;
   margin-right: 0px;
   margin-top: -50px;
   width: 400px;
   height: 400px;
 }

 .teks1 {
   margin-left: 0px;
   margin-right: 0px;
   margin-top: -60px;
   font-size: 65px;
 }


 .teks2 {
  font-size: 35px;
 }

.teks3 {
  font-size: 25px;
}

 .btn1 {
   margin-left: 0px;
   margin-right: 0px;
   margin-top: 10px;
   font-size: 35px;
   width: 80%;
 }

 .btn2 {
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 10px;
  width: 80%;
}


 .teks3 {
   margin-top: -40px;
 }

 .konten2 {
  height: 100vh;
 }

 .gambar2 {
  margin-top: 250px;
  margin-left: 0px;
  margin-right: 0px;
  padding: 0px;
  float: right;
  clear: both;
  max-width: 50%;
  width: auto;
  position: absolute;
 }

 .teks5 {
  font-size: 20px;
 }


.teks6 {
margin-top: 250px;
}

 .progress1 {
  width: 45%;
  margin-left: -55%;
  margin-top:280px;
 }

 .teks7 {
  margin-top: 40px;
 }

 .progress2 {
  width: 45%;
  margin-left: -55%;
  margin-top: 70px;
 }

 .teks8 {
  margin-top: 40px;

 }

 .progress3 {
  width: 45%;
  margin-left: -55%;
  margin-top: 70px;
 }

 .teks9 {
  margin-top: 40px;
 }

 .progress4 {
  width: 45%;
  margin-left: -55%;
  margin-top: 70px;
 }
 
 .card1 {
  margin: 0px;
  max-width: 48%;
  width: auto;
  margin-top: 80px;
  float: left;
  clear: both;
 }


}

















/* UNTUK HP MODE POTRAIT */
@media (max-width:640px) {

  .gambar1 {
    margin-top: 20px;
    width:150px;
    height:150px;
  }

  .teks1 {
   margin-top: -20px;
    font-size:30px;
  }

  .teks2 {
    margin-right: 5px;
    margin-left: 5px;
    margin-top: -20px;
    font-size: 18px;

  }

  .teks3 {
margin-left: 5px;
margin-right: 5px;
margin-top: -25px;
font-size: 15px;
  }




  .btn1 {
 margin-left: 0px;
 margin-right: 0px;
    height:40px;
 margin-top: -10px;
  }

  .btn2 {
 margin-left: 0px;
 margin-right: 0px;
 margin-top: 10px;
     height:40px;
  }

  .konten2 {
    height: 100vh;
}


.teks4 {
  text-align: left;
  font-size: 35px;
  margin-top: -60px;
}

.teks5 {
  font-size: 15px;
  margin-top: 29px;
  width: 80%;
  text-align: left;
}


.gambar2 {
  margin-top: 115px;
  margin-left: 0px;
  margin-right: 0px;
  padding: 0px;
  float: right;
  clear: both;
  max-width: 50%;
  width: auto;
  position: absolute;
 }



 
.teks6 {
  margin-top: 130px;
  }
  
   .progress1 {
    width: 45%;
    margin-left: -55%;
    margin-top:160px;
   }
  
   .teks7 {
    margin-top: 10px;
   }
  
   .progress2 {
    width: 45%;
    margin-left: -55%;
    margin-top: 40px;
   }
  
   .teks8 {
    margin-top: 10px;
  
   }
  
   .progress3 {
    width: 45%;
    margin-left: -55%;
    margin-top: 40px;
   }
  
   .teks9 {
    margin-top: 10px;
   }
  
   .progress4 {
    width: 45%;
    margin-left: -55%;
    margin-top: 40px;
   }
   
   .card1 {

    max-width: 100%;
    width: auto;
    margin-top: 150px;
    margin-bottom: 10px;

   }


   .btn5 {
    margin-top: 10px;
   }



}

